@use '../base/variables';
/* HEADER */

.main-header{
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px){
        &{
            flex-direction: column;
        }
    }
}

#menu{
    display: none;

    /* hacer funcionar el checkbox -> hacer funcionar el menu toogle */

    &:checked + .nav-bar{
        display: block;
    }

    &:checked ~ .search-bar .menu-toogle .menu-toogle__label{
        background-color: yellow;
    }
}

/* NAVBAR */

.nav-bar{
    background-color: variables.$color-3;
    display: none;

    &__nav-list{ /* .nav-bar__navlist */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        @media screen and (min-width: 992px){
            &{
                flex-direction: row;
            }
        }
    }

    &__nav-item{
        text-align: center;
        background-color: pink;
    }

    &__nav-link{
        display: block;
        background-color: variables.$color-3;
        padding: 1rem 2rem; /* 16px y 32px */
        color: white;
        text-decoration: none;
    }

    @media screen and (min-width: 992px){
        &{
            display: block;
        }
    }
}

/* SEARCH BAR */

.search-bar{
    display: flex;
    background: linear-gradient(900deg, variables.$color-3, variables.$color-4);
    justify-content: space-around;

    &__logo-container{
        width: 18.75rem;
        height: 3.5rem;
    }

    &__logo-img{
        max-width: 100%; // Hace que la imagen nunca supere el tamaño del contenedor
        max-height: 100%; // Evita que la imagen se salga del contenedor
        object-fit: contain; // Asegura que la imagen se ajuste sin recortarse
    }

    &__form-container{ /* fondo del contenedor del buscador */
        padding: 1rem;
        background: linear-gradient(900deg, variables.$color-3, variables.$color-4);
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    &__form-label{ /* buscar */
        background-color: none;
    }

    &__logo-search{
        max-width: 20px;
        margin-right: 20px;
        
    }

    &__form-search{ /* en esta clase se encuentra el input del buscador */
        background-color: variables.$color-4;
    }

    &__form-submit{ /* el boton de buscar */
        background-color: darkslategray;
    }

    &__carrito-container{
        flex: 0 0 3rem;
        background: linear-gradient(900deg, variables.$color-3, variables.$color-4);
    }

    &__cart-logo{
        width: 40px;
        margin: 5px 0 5px 0;
    }
}

/* MENU TOOGLE */

.menu-toogle{
    display: block;
    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread{
        display: block;
        background-color: #333;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread{
        top: .8rem;
    }

    &__meat{
        top: 50%;
        margin-top: -.1rem;
    }

    &__bottom-bread{
        bottom: .8rem;
    }

    @media screen and (min-width: 992px) {
        & { /* menu-toogle */
            display: none;
        }
    }

}